langchain-core==0.3.51
langchain-community==0.3.21
langgraph==0.3.25
langgraph-sdk==0.1.61
openai==1.70.0
python-dotenv==1.1.0
pydantic==2.11.2
pandas==2.2.3
numpy==2.2.4
pinecone-client==3.2.2
ipykernel
